@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        background: $secondary;
        filter: drop-shadow(0px 5px 19px rgba(0, 0, 0, 0.2));
        position: relative;
    }

    .banner {
        background: imgUrl("banner.jpg") center;
        background-size: cover;
        padding: 101px 0;

        @include media-breakpoint-up(md) {
            padding: 375px 0 101px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 575px 0 101px;
        }

        .based-in-sydney {
            height: 70px;
            display: inline-flex;
            align-items: center;
            color: $white;
            background: rgba(6, 30, 105, 0.6);
            font-size: 1.375rem; // 22px
            font-weight: 700;
            padding: 8px 24px;
            border-radius: 4px;

            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 8px 16px;
                height: 54px;
            }
        }

        .get-quote-btn {
            height: 70px;
            background: rgba(255, 255, 255, 0.58);
            mix-blend-mode: normal;
            border-radius: 3px;
            display: flex;
            align-items: center;
            padding: 8px 34px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 8px 16px;
                height: 54px;
            }
        }

        .badge-btn {
            transition: 0.3s all ease-in-out;
            border-radius: 100px;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 13px 13px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

section.about {
    background: imgUrl("about.jpg") center top,
        linear-gradient(181.35deg, $secondary -0.19%, #29a4d6 41.73%, #1587b1 84.43%);
    background-size: contain;
    padding-top: 64px;

    @include media-breakpoint-up(md) {
        padding-top: 100px;
    }

    @include media-breakpoint-up(xxl) {
        background: imgUrl("about-xl.jpg") center top,
            linear-gradient(181.35deg, $secondary -0.19%, #29a4d6 41.73%, #1587b1 84.43%);
        background-size: contain;
    }

    .play-btn-xxl {
        position: absolute;
        top: 31%;
        left: 28%;
        background: none;
        border: 0;

        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }

    .laptop {
        position: relative;

        .play-btn {
            top: 25%;
            left: 40%;
            position: absolute;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                height: 60px;
            }
        }
    }

    .heroHeading {
        text-transform: uppercase;
        font-weight: 800;
        color: $primary;

        @include media-breakpoint-down(xl) {
            color: $white;
            text-align: center;
            padding-top: 34px;
        }
    }

    .cta {
        background: $light-grey;
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15);
        border-radius: 35px;
        padding: 24px 53px;
        text-align: center;
        min-height: 251px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $primary;
        transition: 0.2s ease-in-out;

        @include media-breakpoint-down(lg) {
            padding: 24px;
        }

        @include media-breakpoint-down(sm) {
            min-height: 200px;
        }

        .cta-img {
            height: 99px;
            width: 138px;

            &.consultation {
                background: imgUrl("consultation.png", "icons") center;
            }

            &.assurance {
                background: imgUrl("assurance.png", "icons") center;
            }

            &.get-started {
                background: imgUrl("get-started.png", "icons") center;
            }
        }

        &:hover {
            background: $dark;
            color: $white;
            transform: translate(-0.2rem, -0.5rem);

            .cta-img {
                &.consultation {
                    background: imgUrl("consultation-highlighted.png", "icons") center;
                }

                &.assurance {
                    background: imgUrl("assurance-highlighted.png", "icons") center;
                }

                &.get-started {
                    background: imgUrl("get-started-highlighted.png", "icons") center;
                }
            }
        }
    }

    .description {
        padding: 80px 0;

        @include media-breakpoint-up(md) {
            padding: 120px 0;
        }
    }

    .modal {
        .modal-content {
            background: transparent;
            border: none;
            .modal-header {
                border: none;
            }
        }
        .modal-dialog {
            max-width: 934px;

            .video-modal {
                width: 900px;
                height: 506px;

                @include media-breakpoint-down(lg) {
                    width: 100%;
                }

                @include media-breakpoint-down(md) {
                    height: 200px;
                }
            }
        }
    }
}

section.services {
    background: linear-gradient(#1587b1 0 65%, rgba(0, 0, 0, 0) 65% 100%);
    padding-bottom: 80px;

    @include media-breakpoint-up(xl) {
        padding-bottom: 123px;
    }

    .service-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            align-items: end;
            margin: 0 10px;
        }

        .service-slider-content {
            position: relative;

            .title {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 34px;

                @include media-breakpoint-up(lg) {
                    bottom: 54px;
                }
            }
        }

        .slick-dots {
            bottom: -80px;

            li {
                margin: 0;
                background-color: $medium-grey;
                width: 60px;
                height: 5px;

                button {
                    width: 100%;
                    height: 5px;
                    padding: 0;

                    &::before {
                        content: "";
                        height: 5px;
                        background-color: $medium-grey;
                        opacity: 1;
                        width: 100%;
                    }
                }

                &.slick-active {
                    opacity: 1;
                    top: 13px;

                    button {
                        width: 30px;
                        height: 30px;
                        z-index: 10;
                        border-radius: 20px;
                        position: relative;
                        border: 8px solid $primary;
                        top: -13px;

                        &::before {
                            content: "";
                            width: 20px;
                            opacity: 1 !important;
                            height: 20px;
                            top: -3px;
                            left: -3px;
                            background: $light;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}

section.gallery {
    background: imgUrl("star-logo.png") left bottom;
    padding: 64px 0;

    @include media-breakpoint-up(xl) {
        padding: 126px 0;
    }

    .gallery-wrapper {
        .col-lg {
            transition: all 0.4s ease-in-out;
            
            img {
                transition: 1s ease-out;
                width: 100%;
                border-radius: 10px;
                object-fit: cover;
                object-position: top;
                
                @include media-breakpoint-up(lg) {
                    height: 459px;
                }
            }

            @include media-breakpoint-up(lg) {
                flex-grow: 1;
                
                &:hover {
                    flex-grow: 2.3;
    
                    img {
                        box-shadow: 0 0 15px $primary;
                    }
                }
            }
        }
    }
}

section.guarantee {
    background: $primary;
    padding: 48px 0;
}

section.form {
    padding: 80px 0;

    @include media-breakpoint-up(md) {
        padding: 136px 0 163px;
    }

    form {
        font-family: $font-gilroy;

        .form-label {
            color: $dark;
            font-weight: 500;
            letter-spacing: 0.01em;
            font-size: 1rem;
            margin-bottom: 8px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        input,
        select,
        textarea {
            border-radius: 4px;
            border-color: $dark;
            background-color: $light;
        }

        button {
            background: $primary;
            color: $white;
            width: 100%;
            letter-spacing: 0.01em;
            font-size: 1rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }

        .radio-toolbar {
            border-radius: 4px;
            overflow: hidden;

            label {
                display: block;
                font-weight: 600;
                text-align: center;
                padding: 20px 10px;
                cursor: pointer;
                color: $dark;
                background-color: #d9d9d9;
                height: 100%;
                margin-bottom: 0;
                letter-spacing: 0.01em;
                font-size: 11px;
                border-top: 1px solid $light;
                border-bottom: 1px solid $light;
            }

            .radio-img {
                height: 48px;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.1s ease-in-out;

                &.lap-pool {
                    background: imgUrl("lap-pool.png", "icons") center;
                }

                &.plunge-pool {
                    background: imgUrl("plunge-pool.png", "icons") center;
                }

                &.infinity-pool {
                    background: imgUrl("infinity-pool.png", "icons") center;
                }

                &.architectural-pool {
                    background: imgUrl("architectural-pool.png", "icons") center;
                }

                &.indoor-pool {
                    background: imgUrl("indoor-pool.png", "icons") center;
                }

                &.in-ground-pool {
                    background: imgUrl("in-ground-pool.png", "icons") center;
                }

                &.above-ground-pool {
                    background: imgUrl("above-ground-pool.png", "icons") center;
                }

                &.others {
                    background: imgUrl("others.png", "icons") center;
                }
            }

            input[type="radio"]:checked + label {
                background-color: $white;
                color: $primary;
                border: 1px solid $dark;
                border-radius: 3px;
                overflow: hidden;

                .radio-img {
                    &.lap-pool {
                        background: imgUrl("lap-pool-highlighted.png", "icons") center;
                    }

                    &.plunge-pool {
                        background: imgUrl("plunge-pool-highlighted.png", "icons") center;
                    }

                    &.infinity-pool {
                        background: imgUrl("infinity-pool-highlighted.png", "icons") center;
                    }

                    &.indoor-pool {
                        background: imgUrl("indoor-pool-highlighted.png", "icons") center;
                    }

                    &.in-ground-pool {
                        background: imgUrl("in-ground-pool-highlighted.png", "icons") center;
                    }

                    &.above-ground-pool {
                        background: imgUrl("above-ground-pool-highlighted.png", "icons") center;
                    }

                    &.others {
                        background: imgUrl("others-highlighted.png", "icons") center;
                    }
                }
            }

            label:hover {
                background-color: #d9d9d92e;
            }
        }
    }
}

section.promise {
    background-color: $primary;
    color: $white;
    text-align: center;
    padding: 64px 0;

    @include media-breakpoint-up(md) {
        padding: 80px 0;
    }

    .star-wrapper {
        background-color: $white;
        position: relative;

        .floating-img {
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.2s ease-in-out;
        }

        .star-bottom {
            position: relative;
        }

        &:hover {
            .floating-img {
                transform: translateY(-20px);
            }
        }
    }
}

section.other-services {
    padding: 68px 0;
}

footer {
    padding: 37px 0;
    font-size: 1rem;
    font-family: $font-gilroy;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}
